body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
}

.button,
select,
#result,
#amount {
  padding: 5px;
  border: 1px solid black;
  border-radius: 1px;
}

input {
  padding: 5px;
}

:placeholder-shown {
  text-align: center;
}

.button {
  width: 70px;
}

i {
  color: brown;
  font-size: x-large;
  cursor: pointer;
  text-align: center;
}

.change {
  padding: 15px;
}

.spin {
  transition: transform 1s ease-in-out;
}

.spin.spinning {
  transform: rotate(180deg);
}

/* Mobile view adjustment */
@media (max-width: 768px) {
  #main {
    width: 90%;
    height: auto;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
