.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color:rgb(99, 145, 238);
    align-items: center;
    gap: 15px;
}

.button,
select,
#result,
#amount{
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

input{
    padding: 5px;
    margin: 0px 10px;
}

:placeholder-shown{
    text-align: center;
}

.button{
    width: 70px;
}

i {
    color: brown;
    font-size:x-large;
    cursor: pointer;
}

.change{
    padding:  15px;

}

.spin{
    transition: transform 1s ease-in-out;
}

.spin.spinning {
    transform: rotate(180deg);
}