/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 30px;
}

.form{
    position: absolute;
    background:#4f81e3;
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
}

.form.signup{
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: white;
    text-align: center;
}

form{
    margin-top: 30px;
    
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}

.env-icon,
.eye-icon{
    font-size: 18px;
    color: #8b8b8b;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.field button{
    background-color: #b2bddb;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.field button:hover{
    background-color: #016dcb;
}

.form-link{
    text-align: center;
    margin: 10px;
}

.form .check,
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color:#232836;
}

.form a{
    color: #ccdae7;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 36px 0;
}

.line::before{
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 0 15px;
    border-radius: 2px;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}  

a.github{
    background-color: #7b9ee6;
    color: #fff;
}

a.google{
    background-color: white;
    color: black
}

a.github .github-icon {
    height: 28px;
    width: 28px;
    background-color: #fff;
    color: #0171d3;
    border-radius: 50%; 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-icon,
.github-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

a.github,
a.google{
    border: 1px solid #CACACA;
}

.google-icon{
    height: 22px;
    width: 28px;
    font-size: 23px;
}

a.google span{
    font-weight: 500;
    color: #232836;
    opacity: 0.6;
}

@media screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }   
}

.input-control input:focus {
    outline: 0;
}
.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: red;
}